{{#if input.total}}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="box">
                        <form id="f_form" action="/api/payment/frimi/action" method="post">
                            <input type="hidden" name="referenceId" value="{{ input.referenceId }}">
                            <input type="hidden" name="total" value="{{ input.total }}">
                            <div class="field">
                                <label class="label">Enter your FriMi ID or FriMi registered mobile number</label>
                                <div class="control">
                                    <input class="input" type="text" name="frimi_id">
                                </div>
                                <div class="action-bar">
                                    <button type="submit" class="button is-info">Continue</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/if}}

{{#if_eq input.txn_code "00" }}
    <section class="section">
        <div class="container">
            <div class="notification is-success">
                Payment Approved!
            </div>
        </div>
    </section>
{{/if_eq}}

{{#if_eq input.txn_code "01" }}
    <section class="section">
        <div class="container">
            <img src="/images/img_desktop.png" alt="FriMi">
        </div>
    </section>
    <script>
        function doSomething() {
            console.log('This pops up every 5 seconds and is annoying!');
        }

        setInterval(doSomething, 5000); // Time in milliseconds
    </script>
{{/if_eq}}

{{#if_eq input.txn_code "-1" }}
    <section class="section">
        <div class="container">
            <div class="notification is-danger">
                Payment Rejected!
            </div>
        </div>
    </section>
{{/if_eq}}

<div class="loading" id="loading" style="display: none">
    <div class="loading-text">Loading... Please wait</div>
    <div class="loader"></div>
</div>


<style>
    .button {
        font-size: 0.9rem;
    }
    .action-bar {
        margin-top: 1rem;
        text-align: right;
    }
</style>

<style>
    .loading {
        position: fixed;
        top: 0; right: 0;
        bottom: 0; left: 0;
        background: #fff;
    }
    .loader {
        left: 50%;
        font-size: 10px;
        border: .7em solid rgba(218, 219, 223, 1);
        border-left: .8em solid rgb(0, 173, 238);
        animation: spin 1.1s infinite linear;
    }
    .loader, .loader:after {
        border-radius: 50%;
        width: 5em;
        margin-left: -4em;
        height: 5em;
        display: block;
        position: absolute;
        top: 25%;
        margin-top: -4.05em;
    }
    .loading-text {
        position: absolute;
        top: 23%;
        margin: -4.05em 36%;
        width: 100%;
    }

    @keyframes spin {
        0% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
</style>


<script>
    var ele = document.getElementById('f_form');
    if(ele.addEventListener){
        ele.addEventListener("submit", displayOverlay , false);
    }else if(ele.attachEvent){
        ele.attachEvent('onsubmit', displayOverlay);
    }

    function displayOverlay() {
        document.getElementById("loading").style.display = "block";
    }
</script>