<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {{#if_eq input.code "1"}}
                <div class="box has-text-centered">
                    <span class="subtitle has-text-success">Payment Successful</span>
                    <p>We will email you a receipt confirming your payment shortly.</p>
                </div>
                <script>
                    gtag("event","book",{event_category:"booking-form",event_label:"successful-booking"});
                </script>
                {{else}}
                <div class="box has-text-centered">
                    <span class="subtitle has-text-danger">Payment Failed</span>
                    <p>Your transaction could not be authorised.<br>Please try again.</p>
                </div>
                <script>
                    gtag("event","book",{event_category:"booking-form",event_label:"unsuccessful-booking"});
                </script>
                {{/if_eq}}
            </div>
        </div>
    </div>
</section>