<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <div>
                    <div id="loader" class="loader"></div>
                    <iframe id="hnb_iframe" width="600" height="800" name="ipg_iframe" onload="processOnLoad()"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<form id="ipg_form" target="ipg_iframe" action="https://www.hnbpg.hnb.lk/SENTRY/PaymentGateway/Application/ReDirectLink.aspx"
    method="post">
    <input type='hidden' id='Version' value="{{ input.ipg.version }}" name='Version'>
    <input type='hidden' id='MerID' value="{{ input.ipg.merId }}" name='MerID'>
    <input type='hidden' id='AcqID' value="{{ input.ipg.acqId }}" name='AcqID'>
    <input type='hidden' id='MerRespURL' value="{{ input.ipg.merRespURL }}" name='MerRespURL'>
    <input type='hidden' id='PurchaseCurrency' value="{{ input.ipg.purchaseCurrency }}" name='PurchaseCurrency'>
    <input type='hidden' id='PurchaseCurrencyExponent' value="{{ input.ipg.purchaseCurrencyExponent }}" name='PurchaseCurrencyExponent'>
    <input type='hidden' id='OrderID' value="{{ input.ipg.orderId }}" name='OrderID'>
    <input type='hidden' id='SignatureMethod' value="{{ input.ipg.signatureMethod }}" name='SignatureMethod'>
    <input type='hidden' id='Signature' value="{{ input.ipg.signature }}" name='Signature'>
    <input type='hidden' id='CaptureFlag' value="{{ input.ipg.captureFlag }}" name='CaptureFlag'>
    <input type='hidden' id='PurchaseAmt' value="{{ input.ipg.purchaseAmt }}" name='PurchaseAmt'>
</form>

<style>
    .loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid #3498db;
        width: 60px;
        height: 60px;
        margin: 50px auto;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>


<script>
    $(document).ready(function () {
         
       $("#ipg_form").submit();

    });

    function processOnLoad() {
        $(".loader").hide();
       //  var frame = document.getElementById('hnb_iframe'); 
        // frame.contentWindow.postMessage('message', '*'); 
        window.top.scrollTo(0, 0);
    }

        
</script>