<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <span class="box-heading">Payment Summary</span>
                    <div class="table-wrapper">
                        <table class="table is-fullwidth">
                            <tbody>
                            <tr>
                                <th>Reference ID</th>
                                <th>{{ bookingInfo.referenceId }}</th>
                            </tr>
                            <tr>
                                <th>Space</th>
                                <th>{{ bookingInfo.spaceName }}</th>
                            </tr>
                            <tr>
                                <th>Organization</th>
                                <th>{{ bookingInfo.organization }}</th>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <th>{{ bookingInfo.address }}</th>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <th>{{ bookingInfo.reservationDate }}</th>
                            </tr>
                            <tr>
                                <th>Reservation Time</th>
                                <th>{{ bookingInfo.reservationTime }}</th>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <th>LKR {{ bookingInfo.total }}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <form action="/api/payment/process" method="post">
                    <input type="hidden" name="bookingId" value="{{ bookingInfo.bookingId }}">
                    <input type="hidden" name="referenceId" value="{{ bookingInfo.referenceId }}">
                    <input type="hidden" name="total" value="{{ bookingInfo.total }}">
                    <div class="box payment-summary">
                        <span class="box-heading">Payment Options</span>
                        {{!-- <div class="field">
                            <input class="is-checkradio" id="hnb" type="radio" name="payment-option" checked="checked" value="1">
                            <label for="hnb"><img class="payment-option-img" src="/icons/cc-visa.png" alt="visa-option" width="50px"><img class="payment-option-img" src="/icons/cc-master.png" alt="master-option" width="50px"></label>
                        </div> --}}
                        <div class="field">
                            <input class="is-checkradio" id="paycorp" type="radio" name="payment-option" checked="checked" value="34">
                            <label for="paycorp"><img class="payment-option-img" src="/icons/cc-visa.png" alt="visa-option" width="50px"><img class="payment-option-img" src="/icons/cc-master.png" alt="master-option" width="50px"></label>
                        </div>
                        <div class="field">
                            <input class="is-checkradio" id="upay" type="radio" name="payment-option" value="35">
                            <label for="upay"><img class="payment-option-img" src="/icons/U.png" width="50px">UPay</label>
                        </div>
                        {{#if_eq bookingInfo.manualPaymentAllowed "true"}}
                            <div class="field">
                                <input class="is-checkradio" id="obt" type="radio" name="payment-option" value="2">
                                <label for="obt">Online/Direct Bank Transfer <em>(Subject to a 24-hour payment window)</em></label>
                            </div>
                        {{/if_eq}}
                        <div class="action-bar">
                            <button type="submit" id="cnt-payment" class="button is-medium is-fullwidth">Continue</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<style>
    .button {
        font-size: 0.9rem;
    }
    .box-heading {
        display: block;
        padding-bottom: 1rem;
    }
    .action-bar {
        text-align: center;
    }
    em {
        font-size: 0.8rem;
    }
    .payment-option-img {
        padding-right: 0.5rem;
    }
    #cnt-payment {
      background: #f7cc28;
    }
</style>



