<div class="parent-wrapper display-content">
  <div>
    {{!-- <form action="/api/payment/onlineTransfer" method="POST"> --}}
      {{!-- <input type="hidden" name="booking_id" value="{{ input.bookingId }}">
      <input type="hidden" name="event" value="1">
      <input type="hidden" name="method" value="MANUAL">
      <input type="hidden" name="status" value="1"> --}}
      <span class="title is-6 has-text-centered">Tentative Reservation</span>
      <p>
        Please deposit payment of <strong>LKR {{ input.total }}</strong> to the below bank account.
        Include the Reference ID in the deposit slip,
        otherwise the payment cannot be allocated to you.
        You have a 24-hour window to complete the transaction.
        Payment instructions will also be sent to your email address.
        Once the payment is made, please respond to the booking instructions
        email with proof of payment. It is only thereafter
        that your booking will be confirmed.
      </p>
      <div class="summary-wrapper">
        <div class="option-details">
          <span class="p-label">Reference Id</span><span class="p-value">{{ input.referenceId }}</span>
        </div>
        <div class="option-details">
          <span class="p-label">Bank Account Name</span><span class="p-value">{{ input.bank_deposit_details.account_name }}</span>
        </div>
        <div class="option-details">
          <span class="p-label">Bank Name</span><span class="p-value">{{ input.bank_deposit_details.bank_name }}</span>
        </div>
        <div class="option-details">
          <span class="p-label">Bank Address</span><span class="p-value">{{ input.bank_deposit_details.bank_address }}</span>
        </div>
        <div class="option-details">
          <span class="p-label">Bank Branch</span><span class="p-value">{{ input.bank_deposit_details.bank_branch }}</span>
        </div>
        <div class="option-details">
          <span class="p-label">Bank Account Number</span><span class="p-value">{{ input.bank_deposit_details.account_number }}</span>
        </div>
        <div class="option-details">
          <span class="p-label">SWIFT Code</span><span class="p-value">{{ input.bank_deposit_details.swift }}</span>
        </div>
      </div>
      <p class="note">Failure to make the payment within the 24-hour window will result in the expiry of the
        reservation request.</p>
      <button type="submit" class="button is-fullwidth submit-btn" onclick="updateBooking({{ input.bookingId }}, '{{ input.apiPath }}')">Confirm</button>
  </div>
  {{!-- </form> --}}
</div>

<script id="image-template" type="text/x-handlebars-template">
  <div style="margin: 90% 0">
      <span class="subtitle has-text-centered has-text-primary" style="display: block;">\{{ heading }}</span>
      <p style="padding: 1rem; border: 1px solid #c7c7c7; border-radius: 6px">\{{ content }}</p>
  </div>
</script>

<script type="text/javascript">
  function updateBooking(bookingId, apiPath) {
    const updateBody = {
      booking_id: bookingId,
      event: 1,
      method: 'MANUAL',
      status: 1
    }

    $.ajax({
      type: "PUT",
      url: apiPath + "/api/book/space",
      data: JSON.stringify(updateBody),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      xhrFields: { withCredentials: true },
      success: function (response) {

        if (response.old_state === 'INITIATED' && response.new_state === 'PENDING_PAYMENT') {
          var source = $("#image-template").html();
          var template = Handlebars.compile(source);
          var html = template({
            heading: 'Tentative Reservation Successfully Made!',
            content: 'Payment instructions have been emailed to you. You have 24 hours to make the payment.',
          });
          $(".display-content")[0].innerHTML = html;

        }
        else if (response.old_state === 'INITIATED' && response.new_state === 'ADVANCE_PAYMENT_PENDING') {
          var source = $("#image-template").html();
          var template = Handlebars.compile(source);
          var html = template({
            heading: 'Tentative Reservation Successfully Made!',
            content: 'Payment instructions have been emailed to you. You have 24 hours to make the payment.',
          });
          $(".display-content")[0].innerHTML = html;

        }
        else if (response.old_state === 'INITIATED' && response.new_state === 'INITIATED') {
          var source = $("#image-template").html();
          var template = Handlebars.compile(source);
          var html = template({
            heading: 'Oops!',
            content: 'You have a booking with a pending payment. Please make the payment to proceed with bank payment options for this booking.',
          });
          $(".display-content")[0].innerHTML = html;
        }
        else if (response.old_state === 'PENDING_PAYMENT' && response.new_state === 'PENDING_PAYMENT') {
          var source = $("#image-template").html();
          var template = Handlebars.compile(source);
          var html = template({
            heading: 'Oops!',
            content: 'You have a booking with a pending payment. Please make the payment to proceed with bank payment options for this booking.',
          });
          $(".display-content")[0].innerHTML = html;
        }
        else {
          var source = $("#image-template").html();
          var template = Handlebars.compile(source);
          var html = template({
            heading: 'Oops!',
            content: response.message,
          });
          $(".display-content")[0].innerHTML = html;
        }
      },
      failure: function (error) {
        var source = $("#image-template").html();
        var template = Handlebars.compile(source);
        var html = template({
          heading: 'Oops!',
          content: error,
        });
        $(".display-content")[0].innerHTML = html;
      }
    });
  }
</script>

<style>
  .parent-wrapper {
    margin: 10px auto;
    width: 100%;
    padding: 1rem;
  }

  .title {
    display: block;
    padding: 0.5rem;
    color: #000000;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
  }

  .p-option-title {
    margin-top: 1rem;
  }

  .summary-wrapper {
    margin-top: 1rem;
  }

  .option-details {
    display: flex;
    padding: 0.5rem 0;
    border-bottom: 1px solid #f5f5f5;
  }

  .p-label,
  .p-value {
    display: block;
  }

  .p-label {
    flex: 0 0 100px;
    color: grey;
  }

  .p-value {
    flex: 2 1 auto;
    color: #000000;
    font-weight: bold;
  }

  .note {
    font-weight: bold;
    margin-top: 1rem;
    color: #d40000;
  }

  .submit-btn {
    margin-top: 1rem;
    background: #f7cc28;
    text-transform: uppercase;
  }
</style>