<section class="section response-section">
    {{!-- <div>{{ input.code }}</div>
    <div>{{ input.description }}</div> --}}
    {{#if_eq input.code "00"}}
    <div class="has-text-centered" style="margin-top: 4rem">
        <span class="subtitle has-text-success">Payment Successful!</span>
        <p style="margin-top: 1rem">We will email you a receipt confirming your payment shortly.</p>
    </div>
    {{else}}
    <div class="has-text-centered" style="margin-top: 4rem">
        <span class="subtitle has-text-danger">Payment Failed!</span>
        <p style="margin-top: 1rem">Your transaction could not be authorised.</p>
    </div>
    {{/if_eq}}
</section>
