{{!-- <div>Sampath</div>
<div>{{ input.paycorp_response.message }}</div>
<div>{{ input.paycorp_response.url }}</div>
<div>{{ input.paycorp_response.status }}</div> --}}
<div id="loader" class="loader"></div>
 <iframe id="paycorp_iframe" width="100%" height="100%"  src="{{ input.paycorp_response.url }}" frameBorder="0" scrolling="no" onload="processOnLoad()"></iframe>

 <style>
    .loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid #3498db;
        width: 60px;
        height: 60px;
        margin: 50px auto;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #paycorp_iframe {
        height: 100vh;
        display: block;
        margin: 50px auto;
    }

</style>


<script>
    function processOnLoad() {
        $(".loader").hide();
        window.top.scrollTo(0, 0);
    }
</script>
