<section class="section display-content">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <div class="box-heading">Tentative Reservation</div>
                    <p>
                        Please deposit payment of {{ input.total }} to the below bank account. Include the Reference ID
                        in the deposit slip, otherwise the payment cannot be allocated to you. You have a 24-hour
                        window to complete the transaction. Payment instructions will also be sent to your email
                        address. Once the payment is made, please respond to the booking instructions email with proof
                        of payment. It is only thereafter that your booking will be confirmed.
                    </p>
                    <div class="table-wrapper">
                        <table class="table is-fullwidth">
                            <tbody>
                                <tr>
                                    <th>Reference ID</th>
                                    <th>{{ input.referenceId }}</th>
                                </tr>
                                <tr>
                                    <th>Bank Account Name</th>
                                    <th>{{ input.bank_deposit_details.account_name }}</th>
                                </tr>
                                <tr>
                                    <th>Bank Name</th>
                                    <th>{{ input.bank_deposit_details.bank_name }}</th>
                                </tr>
                                <tr>
                                    <th>Bank Address</th>
                                    <th>{{ input.bank_deposit_details.bank_address }}</th>
                                </tr>
                                <tr>
                                    <th>Bank Branch</th>
                                    <th>{{ input.bank_deposit_details.bank_branch }}</th>
                                </tr>
                                <tr>
                                    <th>Bank Account Number</th>
                                    <th>{{ input.bank_deposit_details.account_number }}</th>
                                </tr>
                                <tr>
                                    <th>SWIFT Code</th>
                                    <th>{{ input.bank_deposit_details.swift }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <span class="notice-lbl">Failure to make the payment within the 24-hour window will result in the
                        expiry of the reservation request.</span>
                    <div class="action-bar">
                        <a class="button is-medium is-fullwidth confirm-btn" onclick="updateBooking({{ input.bookingId }}, '{{ input.apiPath }}')">Confirm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    p {
        padding-top: 10px;
        font-size: 0.8rem;
    }
    .button {
        font-size: 0.9rem;
    }
    .table-wrapper {
        padding-top: 10px;
        font-size: 0.9rem;
    }
    .notice-lbl {
        display: block;
        font-size: 0.8rem;
        padding-top: 10px;
    }
    .action-bar {
        margin: 1rem 0;
        text-align: right;
    }
    .confirm-btn {
        background: #f7cc28;
    }
</style>

<script id="image-template" type="text/x-handlebars-template">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="box has-text-centered">
                        <span class="subtitle has-text-primary">\{{ heading }}</span>
                        <p>\{{ content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>

<script type="text/javascript">
    function updateBooking(bookingId, apiPath) {

        const updateBody = {
            booking_id: bookingId,
            event: 1,
            method: 'MANUAL',
            status: 1
        }

        $.ajax({
            type: "PUT",
            url: apiPath + "/api/book/space",
            data: JSON.stringify(updateBody),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            xhrFields: { withCredentials: true },
            success: function (response) {

                if (response.old_state === 'INITIATED' && response.new_state === 'PENDING_PAYMENT') {
                    var source = $("#image-template").html();
                    var template = Handlebars.compile(source);
                    var html = template({
                        heading: 'Tentative Reservation Successfully Made!',
                        content: 'Payment instructions have been emailed to you. You have 24 hours to make the payment.',
                    });
                    $(".display-content")[0].innerHTML = html;

                }
                else if(response.old_state === 'INITIATED' && response.new_state === 'ADVANCE_PAYMENT_PENDING'){
                    var source = $("#image-template").html();
                    var template = Handlebars.compile(source);
                    var html = template({
                        heading: 'Tentative Reservation Successfully Made!',
                        content: 'Payment instructions have been emailed to you. You have 24 hours to make the payment.',
                    });
                    $(".display-content")[0].innerHTML = html;

                }
                else if (response.old_state === 'INITIATED' && response.new_state === 'INITIATED') {
                    var source = $("#image-template").html();
                    var template = Handlebars.compile(source);
                    var html = template({
                        heading: 'Oops!',
                        content: 'You have a booking with a pending payment. Please make the payment to proceed with bank payment options for this booking.',
                    });
                    $(".display-content")[0].innerHTML = html;
                }
                else if (response.old_state === 'PENDING_PAYMENT' && response.new_state === 'PENDING_PAYMENT') {
                    var source = $("#image-template").html();
                    var template = Handlebars.compile(source);
                    var html = template({
                        heading: 'Oops!',
                        content: 'You have a booking with a pending payment. Please make the payment to proceed with bank payment options for this booking.',
                    });
                    $(".display-content")[0].innerHTML = html;
                }
                else {
                    var source = $("#image-template").html();
                    var template = Handlebars.compile(source);
                    var html = template({
                        heading: 'Oops!',
                        content: response.message,
                    });
                    $(".display-content")[0].innerHTML = html;
                }
            },
            failure: function (error) {
                var source = $("#image-template").html();
                var template = Handlebars.compile(source);
                var html = template({
                    heading: 'Oops!',
                    content: error,
                });
                $(".display-content")[0].innerHTML = html;
            }
        });
    }

</script>