<div class="parent-wrapper">
  <div>
    <span class="title is-6 has-text-centered">Review</span>
    <div class="summary-wrapper">
      <div class="option-details">
        <span class="p-label">Reference Id</span><span class="p-value">{{ bookingInfo.referenceId }}</span>
      </div>
      <div class="option-details">
        <span class="p-label">Space</span><span class="p-value">{{ bookingInfo.spaceName }}</span>
      </div>
      <div class="option-details">
        <span class="p-label">Organization</span><span class="p-value">{{ bookingInfo.organization }}</span>
      </div>
      <div class="option-details">
        <span class="p-label">Address</span><span class="p-value">{{ bookingInfo.address }}</span>
      </div>
      <div class="option-details">
        <span class="p-label">Date</span><span class="p-value">{{ bookingInfo.reservationDate }}</span>
      </div>
      <div class="option-details">
        <span class="p-label">Res. Time</span><span class="p-value">{{ bookingInfo.reservationTime }}</span>
      </div>
      <div class="option-details">
        <span class="p-label has-text-weight-bold">Total</span><span class="p-value has-text-weight-bold">LKR {{
          bookingInfo.total }}</span>
      </div>
    </div>
  </div>
  <div class="payment-option-container">
    <form action="/api/payment/process" method="post">
      <input type="hidden" name="bookingId" value="{{ bookingInfo.bookingId }}">
      <input type="hidden" name="referenceId" value="{{ bookingInfo.referenceId }}">
      <input type="hidden" name="total" value="{{ bookingInfo.total }}">
      <span class="title is-6 has-text-centered p-option-title">Select Payment Option</span>
      <div>
        <div class="field">
          <input class="is-checkradio" id="visa-master" type="radio" name="payment-option" checked="checked" value="34">
          <label for="visa-master"><img class="visa-img" src="/icons/visa.png" alt="visa" width="100px"></label>
        </div>
        <div class="field">
          <input class="is-checkradio" id="upay" type="radio" name="payment-option" value="35">
          <label for="upay"><span class="icon"><img src="/icons/U.png" alt="upay"></span>UPay</label>
        </div>
        {{#if_eq bookingInfo.manualPaymentAllowed "true"}}
        <div class="field">
          <input class="is-checkradio" id="bank-transfer" type="radio" name="payment-option" value="2">
          <label for="bank-transfer">Bank Transfer</label>
        </div>
        {{/if_eq}}
      </div>
      <button type="submit" class="button is-fullwidth submit-btn">Continue</button>
    </form>
  </div>
  <div class="has-text-centered">
    <hr>
    <span style="font-size: 0.7rem">© MILLIONSPACES.COM All Rights Reserved.</span>
  </div>
</div>


<style>
  .parent-wrapper {
    margin: 10px auto;
    padding: 1rem;
  }

  .title {
    display: block;
    padding: 0.5rem;
    color: #000000;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
  }

  .p-option-title {
    margin-top: 1rem;
  }

  .summary-wrapper {}

  .option-details {
    display: flex;
    padding: 0.5rem 0;
    border-bottom: 1px solid #f5f5f5;
  }

  .p-label,
  .p-value {
    display: block;
  }

  .p-label {
    flex: 0 0 100px;
    color: grey;
  }

  .p-value {
    flex: 2 1 auto;
    color: #000000;
  }

  .payment-option-container {}


  .submit-btn {
    margin-top: 2rem;
    background: #f7cc28;
    text-transform: uppercase;
    font-weight: bold;

  }

  .is-checkradio[type=radio]+label::after,
  .is-checkradio[type=radio]+label:after {
    background: #f7cc28;
  }

  .is-checkradio[type=checkbox]:hover:not([disabled])+label::before,
  .is-checkradio[type=checkbox]:hover:not([disabled])+label:before,
  .is-checkradio[type=radio]:hover:not([disabled])+label::before,
  .is-checkradio[type=radio]:hover:not([disabled])+label:before {
    border-color: #f7cc28 !important;
  }

  .visa-img {
    position: relative;
    top: 5px;
  }
</style>