<section class="section display-content">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <div class="box-heading">Tentative Reservation</div>
                    <p>
                        Please settle the payment of LKR {{ input.total }} via following payment options within 72 hours to confirm your booking.
                    </p>
                    <ul class="menu-list">
                        <li>1. Credit or debit card payment</li>
                        <li>2. Online bank transfer / Bank deposit</li>
                    </ul>
                    <div class="table-wrapper">
                        <table class="table is-fullwidth">
                            <tbody>
                            <tr>
                                <th>Reference ID</th>
                                <th>{{ input.referenceId }}</th>
                            </tr>
                            <tr>
                                    <th>Bank Account Name</th>
                                    <th>{{ input.bank_deposit_details.account_name }}</th>
                                </tr>
                                <tr>
                                    <th>Bank Name</th>
                                    <th>{{ input.bank_deposit_details.bank_name }}</th>
                                </tr>
                                <tr>
                                    <th>Bank Address</th>
                                    <th>{{ input.bank_deposit_details.bank_address }}</th>
                                </tr>
                                <tr>
                                    <th>Bank Branch</th>
                                    <th>{{ input.bank_deposit_details.bank_branch }}</th>
                                </tr>
                                <tr>
                                    <th>Bank Account Number</th>
                                    <th>{{ input.bank_deposit_details.account_number }}</th>
                                </tr>
                                <tr>
                                    <th>SWIFT Code</th>
                                    <th>{{ input.bank_deposit_details.swift }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="action-bar">
                        <a class="button is-info" onclick="updateBooking({{ input.bookingId }}, '{{ input.apiPath }}')">Confirm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    p {
        padding-top: 10px;
        font-size: 0.8rem;
    }
    .button {
        font-size: 0.9rem;
    }
    .table-wrapper {
        padding-top: 10px;
        font-size: 0.9rem;
    }
    .action-bar {
        text-align: right;
    }
    .menu-list {
        margin-top: 1rem;
        font-size: 0.8rem;
    }
</style>

<script id="image-template" type="text/x-handlebars-template">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="box has-text-centered">
                        <span class="subtitle has-text-primary">\{{ heading }}</span>
                        <p>\{{ content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>

<script type="text/javascript">
    function updateBooking(bookingId, apiPath) {

        const updateBody = {
            booking_id: bookingId,
            event: 1,
            method: 'MANUAL',
            status: 5
        }

        $.ajax({
            type: "PUT",
            url: apiPath + "/api/book/space",
            data: JSON.stringify(updateBody),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            xhrFields: { withCredentials: true },
            success: function(response){

                if(response.old_state === 'INITIATED' && response.new_state === 'PENDING_PAYMENT'){
                    var source = $("#image-template").html();
                    var template = Handlebars.compile(source);
                    var html = template({
                        heading: 'Tentative Reservation Successfully Made!',
                        content: 'Payment instructions have been emailed to you. You have 72 hours to make the payment.',
                    });
                    $(".display-content")[0].innerHTML = html;

                }
                else if (response.old_state === 'INITIATED' && response.new_state === 'INITIATED'){
                    var source = $("#image-template").html();
                    var template = Handlebars.compile(source);
                    var html = template({
                        heading: 'Oops!',
                        content: 'You have a booking with a pending payment. Please make the payment to proceed with bank payment options for this booking.',
                    });
                    $(".display-content")[0].innerHTML = html;
                }
                else if (response.old_state === 'PENDING_PAYMENT' && response.new_state === 'PENDING_PAYMENT'){
                    var source = $("#image-template").html();
                    var template = Handlebars.compile(source);
                    var html = template({
                        heading: 'Oops!',
                        content: 'You have a booking with a pending payment. Please make the payment to proceed with bank payment options for this booking.',
                    });
                    $(".display-content")[0].innerHTML = html;
                }
                else {
                    var source = $("#image-template").html();
                    var template = Handlebars.compile(source);
                    var html = template({
                        heading: 'Oops!',
                        content: response.message,
                    });
                    $(".display-content")[0].innerHTML = html;
                }
            },
            failure: function(error) {
                var source = $("#image-template").html();
                var template = Handlebars.compile(source);
                var html = template({
                    heading: 'Oops!',
                    content: error,
                });
                $(".display-content")[0].innerHTML = html;
            }
        });
    }

</script>

