<section class="section response-section">
    {{!-- <div>{{ input.code }}</div>
    <div>{{ input.description }}</div> --}}
    <div class="has-text-centered" style="margin-top: 4rem">
        <span class="subtitle has-text-success">Payment Successful!</span>
        <p style="margin-top: 1rem">We will email you a receipt confirming your payment shortly.</p>
    </div>
</section>