<section class="section response-section">
  <div class="has-text-centered" style="margin-top: 4rem">
      <span class="subtitle has-text-danger">Transaction Cancelled!</span>
      <p style="margin-top: 1rem">Your transaction could not be authorised.</p>
  </div>
</section>