{{!-- {{ input.upay.referenceId }}<br>
{{ input.upay.serviceCode }}<br>
{{ input.upay.currency }}<br>
{{ input.upay.returnUrl }}<br>
{{ input.upay.cancelUrl }}<br>
{{ input.upay.notifyUrl }}<br>
{{ input.upay.signature }}<br>
{{ input.upay.totalAmount }}<br> --}}

<span style="display: block; margin-top: 3rem; text-align: center;">We're redirecting you, please wait...</span> 
<div class="select-another-option" onclick="javascript:history.go(-1)">
    <figure class="image is-32x32">
    <img src="/icons/back.png">
    </figure>
    <div>Go Back</div>
</div>
{{!-- <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <div>
                    <iframe id="upay_iframe" width="600" height="800" name="upay_iframe" onload="processOnLoad()"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>  --}}

{{!-- NOTE: target changed. can not target to an iframe because mechant has set header X-Frame-Options: SAMEORIGIN --}}
<form id="upay_form" target="_blank" action="{{ input.upay.endPoint }}" method="post">
    <input type='hidden' id='serviceCode' value="{{ input.upay.serviceCode }}" name='service_code'>
    <input type='hidden' id='merchantTxnRefNo' value="{{ input.upay.referenceId }}" name='merchant_txn_ref_no'>
    <input type='hidden' id='totalAmount' value="{{ input.upay.totalAmount }}" name='total_amount'>
    <input type='hidden' id='currency' value="{{ input.upay.currency }}" name='currency'>
    <input type='hidden' id='returnUrl' value="{{ input.upay.returnUrl }}" name='return_url'>
    <input type='hidden' id='cancelUrl' value="{{ input.upay.cancelUrl }}" name='cancel_url'>
    <input type='hidden' id='notifyUrl' value="{{ input.upay.notifyUrl }}" name='notify_url'>
    <input type='hidden' id='signature' value="{{ input.upay.signature }}" name='signature'>
</form>


<script>
    $(document).ready(function () {
        setTimeout(() => {
            $("#upay_form").submit();
        }, 1000);
    });
</script>

<style>
    .select-another-option {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        cursor: pointer;
    }
</style>