<section class="section display-content">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <span class="box-heading">Payment Summary</span>
                    <div class="table-wrapper">
                        <table class="table is-fullwidth">
                            <tbody>
                            <tr>
                                <th>Reference ID</th>
                                <th>{{ bookingInfo.referenceId }}</th>
                            </tr>
                            <tr>
                                <th>Space</th>
                                <th>{{ bookingInfo.spaceName }}</th>
                            </tr>
                            <tr>
                                <th>Organization</th>
                                <th>{{ bookingInfo.organization }}</th>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <th>{{ bookingInfo.address }}</th>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <th>{{ bookingInfo.reservationDate }}</th>
                            </tr>
                            <tr>
                                <th>Reservation Time</th>
                                <th>{{ bookingInfo.reservationTime }}</th>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <th>LKR {{ bookingInfo.total }}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <form>
                    <input type="hidden" name="bookingId" value="{{ bookingInfo.bookingId }}">
                    <input type="hidden" name="referenceId" value="{{ bookingInfo.referenceId }}">
                    <input type="hidden" name="total" value="{{ bookingInfo.total }}">
                    <div class="box payment-summary">
                        <span class="box-heading">Payment Options</span>
                        <div class="field">
                            <input class="is-checkradio" id="promo" type="radio" name="payment-option" checked="checked">
                            <label for="promo"><img class="payment-option-img" src="/icons/yesfm-icon.png" alt="yes-fm" width="50px"><em>YES FM</em> campaign</label>
                        </div>
                        <div class="action-bar">
                            <a class="button is-info" onclick="updateBooking({{ bookingInfo.bookingId }}, '{{ apiPath }}')">Confirm</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<style>
    .button {
        font-size: 0.9rem;
    }
    .box-heading {
        display: block;
        padding-bottom: 1rem;
    }
    .action-bar {
        text-align: right;
    }
    em {
        font-size: 0.8rem;
    }
    .message-body {
        margin-top: 1rem;
        border-width: 0px;
    }
</style>

<script id="image-template" type="text/x-handlebars-template">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="box has-text-centered">
                        <span class="subtitle has-text-primary">\{{ heading }}</span>
                        <p class="message-body">\{{ content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>

<script type="text/javascript">
    function updateBooking(bookingId, apiPath) {

        const updateBody = {
            booking_id: bookingId,
            event: 1,
            method: 'MANUAL',
            status: 4
        }

        $.ajax({
            type: "PUT",
            url: apiPath + "/api/book/space",
            data: JSON.stringify(updateBody),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            xhrFields: { withCredentials: true },
            success: function(response){

                if(response.old_state === 'INITIATED' && response.new_state === 'PAYMENT_DONE'){
                    window.location.href = '/api/payment/promo/yes-fm/submitted';
                }
                else {
                    var source = $("#image-template").html();
                    var template = Handlebars.compile(source);
                    var html = template({
                        heading: 'Oops!',
                        content: response.message,
                    });
                    $(".display-content")[0].innerHTML = html;
                }
            },
            failure: function(error) {
                var source = $("#image-template").html();
                var template = Handlebars.compile(source);
                var html = template({
                    heading: 'Oops!',
                    content: error,
                });
                $(".display-content")[0].innerHTML = html;
            }
        });
    }

</script>



