<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box has-text-centered">
                    <span class="subtitle">Congratulations!</span>
                    <p class="p1">You have successfully booked the 101 space of the day.</p>
                    <p class="p2">If you are one of the <span class="winner">lucky winner > yes  101</span> Team will contact you!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .section {
      background: url("/promo/images/yesfm-bg-web.jpg");
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .box {
        background: transparent;
        padding: 5rem;
    }
    p {
       color: #ffffff;
       font-size: 1.3rem;
    }
    .p1, .p2 {
        margin-top: 1rem;
    }
    .subtitle {
        color: red;
        font-size: 2.2rem;
        font-weight: 500;
    }
    .winner {
        color: red;
    }
</style>
